<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="maddock.overlay.swipeup.gestures"
        android:versionCode="1"
        android:versionName="1.0">
        <!-- SUPER OVERLAY -->
        <overlay android:targetPackage="android"
            android:priority="8998"
            android:isStatic="true" />
</manifest>
